In [1]:
import pandas as pd

In [ ]:
import pandas as pd

In [ ]:
# import openpyxl
# dfs = pd.read_excel(filepath, sheet_name=["sheet name 1", "sheet name 2"]) 
# dfs will be a dictionary where each key is the sheet name and each value is the df containing the table for that sheet

# dfs = {"sheet 1": df1,
#        "sheet 2": df2}
# df_1 = dfs["sheet 1"]

In [3]:
filepath=r"https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/1980%202023%20average%20house%20prices.csv"
house_p_data=pd.read_csv(filepath)
house_p_data

,Name,Period,House price index All property types,Average price All property types,Percentage change (monthly) All property types,Percentage change (yearly) All property types
0,United Kingdom,1980-01,10.11,19273,3.94,28.59
1,United Kingdom,1980-02,10.11,19273,3.94,28.59
2,United Kingdom,1980-03,10.11,19273,3.94,28.59
3,United Kingdom,1980-04,10.51,20044,4.00,24.15
4,United Kingdom,1980-05,10.51,20044,4.00,24.15
...,...,...,...,...,...,...
518,United Kingdom,2023-03,148.20,282548,-1.00,3.20
519,United Kingdom,2023-04,148.90,283871,0.50,2.50
520,United Kingdom,2023-05,149.50,285053,0.40,1.60
521,United Kingdom,2023-06,151.20,288281,1.10,1.90
522,United Kingdom,2023-07,152.00,289824,0.50,0.60

In [ ]:
#df['Period'] = pd.to_datetime(df['Period'], format="%Y-%m")

#child_identifiers['PersonBirthDate'] = pd.to_datetime(child_identifiers['PersonBirthDate'], format="%Y-%m-%d")

#child_identifiers.info()

 #df['Period'] = pd.to_datetime(df['Period'], format="%Y-%m")

#child_identifiers['PersonBirthDate'] = pd.to_datetime(child_identifiers['PersonBirthDate'], format="%Y-%m-%d")
#child_identifiers['ExpectedPersonBirthDate'] = pd.to_datetime(child_identifiers['ExpectedPersonBirthDate'], format="%Y-%m-%d")

#child_identifiers.info()

#df['Period'] = pd.to_datetime(df['Period'], format="%Y-%m")

#child_identifiers['PersonBirthDate'] = pd.to_datetime(child_identifiers['PersonBirthDate'], format="%Y-%m-%d")
#child_identifiers['ExpectedPersonBirthDate'] = pd.to_datetime(child_identifiers['ExpectedPersonBirthDate'], format="%Y-%m-%d")

#child_identifiers.info()

In [2]:
filepath = r"https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildIdentifiers.csv"
child_identifiers = pd.read_csv(filepath)

# child_identifiers
# child_identifiers.info()
# child_identifiers.head()

child_identifiers.tail(20)
child_identifiers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 332 entries, 0 to 331
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               332 non-null    int64
 1   LAchildID                332 non-null    object
 2   UPN                      332 non-null    object
 3   FormerUPN                0 non-null      float64
 4   UPNunknown               0 non-null      float64
 5   PersonBirthDate          332 non-null    object
 6   ExpectedPersonBirthDate  7 non-null      object
 7   GenderCurrent            332 non-null    int64
 8   PersonDeathDate          21 non-null     object
dtypes: float64(2), int64(2), object(5)
memory usage: 23.5+ KB

In [5]:

# use child_indentifiers['PersonBirthDate'] to calculate the age of every child in a new column

#[14:46] William Levack-Payne
#child_identifiers['Age'] = pd.to_datetime("01/04/24", format="%d/%m/%y") - child_identifiers['PersonBirthDate']
child_identifiers['Age'] = child_identifiers['Age'] / pd.Timedelta(365.25, "d")
child_identifiers["Age"] = child_identifiers["Age"].astype('int')
 
child_identifiers

KeyError: 'Age'

In [ ]:
df_1 = pd.DataFrame({'ChildId':['id1', 'id2', 'id3', 'id4', 'id5'],
                   'Age first contact':[6,12,11,1,19],
                   'Gender':['M','m', 'F', '', 'F' ],
                   'Birthday':['01/01/2002', '02/02/2003', pd.NA, '03/03/2023', '06/01/2012'],
                   'CP Plan?':['Y', 'n', 'N', 'No', 'yES'],})

nhs_numbers = pd.DataFrame([
                            {'ChildId':'id1',
                            'NHS Number': '303',},
                            {'ChildId':'id3',
                            'NHS Number': 'gqw3',},
                            {'ChildId':'id2',
                            'NHS Number': '3u5029',},
                            {'ChildId':'id4',
                            'NHS Number': 'avsgvb',},
                            {'ChildId':'id5',
                            'NHS Number': 'varwvw',},
                            ])

child_info = pd.merge(df_1, nhs_numbers, on='ChildId', how='left')

child_infodf_1 = pd.DataFrame({'ChildId':['id1', 'id2', 'id3', 'id4', 'id5'],
                   'Age first contact':[6,12,11,1,19],
                   'Gender':['M','m', 'F', '', 'F' ],
                   'Birthday':['01/01/2002', '02/02/2003', pd.NA, '03/03/2023', '06/01/2012'],
                   'CP Plan?':['Y', 'n', 'N', 'No', 'yES'],})

nhs_numbers = pd.DataFrame([
                            {'ChildId':'id1',
                            'NHS Number': '303',},
                            {'ChildId':'id3',
                            'NHS Number': 'gqw3',},
                            {'ChildId':'id2',
                            'NHS Number': '3u5029',},
                            {'ChildId':'id4',
                            'NHS Number': 'avsgvb',},
                            {'ChildId':'id5',
                            'NHS Number': 'varwvw',},
                            ])

child_info = pd.merge(df_1, nhs_numbers, on='ChildId', how='left')

child_info